<div ng-init="init()">
    <div class="row">
        <div class="col-lg-12" style='margin-bottom:10px'>
            <h1 class="page-header">Dashboard do Usuário</h1>
            <div class='pull-right'>
                <button ng-class="{'btn btn-success':chart == true,'btn btn-default':chart == false}" type="button" ng-click='chart = true'>
                    <i class="fa fa-bar-chart"></i>
                </button>
                <button ng-class="{'btn btn-success':chart == false,'btn btn-default':chart == true}" type="button" ng-click='chart = false'>
                    <i class="fa fa-table"></i>
                </button>
            </div>
        </div>

                    <!-- /.col-lg-12 -->
    </div>
                <!-- /.row -->
    <div class="row" ng-show='chart'>
        
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                   Dispositivos com serviço da Vivo
                </div>
                        <!-- /.panel-heading -->
                <div class="panel-body">
                   <canvas 
                        class="chart chart-bar" chart-data="service" chart-labels="labelsService" chart-series="seriesService">
                    </canvas> 
                </div>
                        <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Gênero dos usuário de MG
                </div>
                        <!-- /.panel-heading -->
                <div class="panel-body">
                   <canvas 
                        class="chart chart-bar" chart-data="customer" chart-labels="labelsCustomer" chart-series="seriesCustomer">
                    </canvas> 
                </div>
                        <!-- /.panel-body -->
            </div>
            
        </div>
            
    </div>
    <div class="row" ng-hide='chart'>
        
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Dispositivos com serviço da Vivo
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tipo</th>
                                    <th>Dispositivo</th>
                                    <th>MAC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat='service in serviceData'>
                                    <td>{{$index+1}}</td>
                                    <td>{{service.type}}</td>
                                    <td>{{service.name}}</td>
                                    <td>{{service.mac}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                            <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Gênero dos usuário de MG
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>Genero</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat='customer in customerData'>
                                    <td>{{$index+1}}</td>
                                    <td>{{customer.full_name}}</td>
                                    <td>{{customer.gender}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                            <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
</div>
